[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
radish-bdd = "*"
tox = "*"
ipdb = "*"

[packages]
pluggy = "*"

[requires]
python_version = "3.7"
